$black  : #363636;
$white  : #fff;
$red    : #AE2B3D;
$purple : #4208A1;
$blue   : #115ABC;
$green  : #00A24F;
$yellow : #F7C019;
$orange : #ED8C18;

$serif      : serif;
$sans-serif : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$light  : 300;
$normal : 400;
$semi   : 600;

html,
body {
  background: $red;
  color: $white;
}

.app-container {
  font-family: $sans-serif;
  padding: 6em 8em;
}

.alerts-container {
  background: $white;
  border-radius: .6em;
  box-shadow: 0 .5em 0 darken($red, 15%);
  color: $black;
  margin: 1em 0;
  padding: .8em 1em 1.2em;
}

.alerts-heading {
  border-bottom: solid 2px $red;
}

.alert {
  margin-bottom: .5em;
  padding: .3em .4em .4em;
  opacity: .6;
  &:first-of-type {
    margin-bottom: 1em;
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}

.alert-warning {
  border-left: solid .2em $red;
}

.alert-success {
  border-left: solid .2em $green;
}


/*
 * PURE Breakpoints
 *
 * sm  @media screen and (min-width: 35.5em) ≥ 568px .pure-u-sm-*
 * md  @media screen and (min-width: 48em) ≥ 768px .pure-u-md-*
 * lg  @media screen and (min-width: 64em) ≥ 1024px  .pure-u-lg-*
 * xl  @media screen and (min-width: 80em) ≥ 1280px  .pure-u-xl-*
 *
 */